<app-navibar id="back"></app-navibar>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="anime">
        <img src="https://i.pinimg.com/564x/46/91/bb/4691bb7da1394f0c7895d5ba52601a90.jpg" alt="">
      </div>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
      <div class="text">
        <a href="#back"><i style="font-size:4rem;" class="fa-solid fa-arrow-turn-up"></i></a>
      </div>
     </div>
  </div>
</div>


<router-outlet></router-outlet>
