<div class="text-center git_png">
    <img src="https://i.pinimg.com/736x/bd/51/9a/bd519a06826b9043b8b6edd9e167123a--illustration.jpg" alt="">
</div>

<div class="text-center">
    <p class="p_description">Please enter your github username to access your Profile and Repositories</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
               <div class="search">
                   <div class="form-group">
                       <input type="text" class="form-control" placeholder="Github username"  name="username" (keyup="search()" />

                   </div>
               </div> 

            </form>
        </div>
    </div>
</div>





